
*{
    padding: 0px;

}

/* Estilo para contenedor de tabla */
.table-container {
    max-height: 600px;

    overflow-y:  scroll; /* Agrega una barra de desplazamiento vertical si es necesario */
    margin-right: 3px;
}

/* Estilo para el encabezado de la tabla */
.table-container thead {
    position: sticky;
    top: 0;
    /* background-color: #0056b3;*/
    background: rgb(25, 55, 86); /*Azul Oscuro */
    color: #000; /* Color de texto más suave */
    z-index: 1;

}

/* Estilo para la tabla */
.table {
    width: 100%;

    border-collapse: collapse;

}

thead th  {
    position: sticky;
    top: 0;
    font-weight: bold;
    color: #ffffff; /* Cambia esto al color de texto deseado */

}

/* Estilo para las celdas de la tabla */
td, th {
    padding: 10px; /* Ajusta el espaciado interno según sea necesario */
    font-size: 12px; /* Tamaño de fuente más pequeño */
    background-color: #e9ecef; /* Color de fondo más suave */
    border: 1px solid #ced4da; /* Borde más suave */
    text-align: center;
    color: #000; /* Color de texto más oscuro */


}

/* Estilo para las celdas de la tabla */
.tr {

    padding: 0;
    font-size: 12px;
    background-color: #f0f0f0;
    position: sticky;
    top: 0;
    border: 1px solid #ddd;
    text-align: center;
}

.miTH{

    border-right: 2px solid #99ff99;
    color: #09f;
    text-align-last:  center;

}

/* CSS para hacer responsive y adaptarse a culaquier tamaño*/

.table-responsive {
    overflow-x: auto; /* Permite desplazamiento horizontal */
}

.table-responsive table {
    max-width: 100%; /* Ocupa el 100% del contenedor */
    width: 100%;
}

/* Opcional: Ancho máximo para las celdas */
.table-responsive table th,
.table-responsive table td {
    max-width: 180px; /* Ajusta según sea necesario */
    white-space: nowrap; /* Evita que el texto se ajuste automáticamente */
    overflow: hidden;
    text-overflow: ellipsis; /* Agrega puntos suspensivos cuando el contenido es demasiado largo */
}

